[submodule "temporary-tools"]
	path = temporary-tools
	url = https://github.com/usegalaxy-eu/temporary-tools
[submodule "docker-jupyter-notebook"]
	path = docker-jupyter-notebook
	url = https://github.com/bgruening/docker-jupyter-notebook
[submodule "galaxy"]
	path = galaxy
	url = https://github.com/usegalaxy-eu/galaxy.git
